@import "tailwindcss";

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

body {
  background-color: #020617;
  color: #f8fafc;
  min-height: 100vh;
}

@layer components{
  .align-element{
      @apply mx-auto max-w-screen-2xl px-8;
  }

  .link-base{
    @apply text-sm font-medium text-slate-300 hover:text-white transition;
  }

  .input-base
  {
    @apply w-full rounded-lg border border-slate-700 bg-slate-900/60 px-3 py-2 text-sm text-slate-50 outline-none ring-emerald-500/40 focus:border-emerald-500 focus:ring-2
  }
}